<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XRF000</key>
	<string>000.xreflector.org</string>
	<key>XRF001</key>
	<string>75.76.90.90</string>
	<key>XRF002</key>
	<string>91.201.57.233</string>
	<key>XRF003</key>
	<string>95.110.157.83</string>
	<key>XRF004</key>
	<string>96.36.58.9</string>
	<key>XRF005</key>
	<string>216.16.240.236</string>
	<key>XRF006</key>
	<string>80.62.20.151</string>
	<key>XRF007</key>
	<string>84.232.6.94</string>
	<key>XRF008</key>
	<string>95.110.231.219</string>
	<key>XRF009</key>
	<string>141.22.15.29</string>
	<key>XRF010</key>
	<string>87.106.48.7</string>
	<key>XRF011</key>
	<string>87.106.3.249</string>
	<key>XRF012</key>
	<string>xreflector12.dstarsandiego.com</string>
	<key>XRF013</key>
	<string>xrf013.vkradio.com</string>
	<key>XRF015</key>
	<string>176.126.243.212</string>
	<key>XRF017</key>
	<string>87.253.159.114</string>
	<key>XRF018</key>
	<string>199.167.129.166</string>
	<key>XRF019</key>
	<string>66.30.81.236</string>
	<key>XRF020</key>
	<string>67.210.212.144</string>
	<key>XRF021</key>
	<string>74.204.50.67</string>
	<key>XRF022</key>
	<string>xrf022.tms-it.net</string>
	<key>XRF023</key>
	<string>141.75.245.225</string>
	<key>XRF024</key>
	<string>xrf024.dstar.at</string>
	<key>XRF025</key>
	<string>63.133.189.2</string>
	<key>XRF026</key>
	<string>139.13.100.34</string>
	<key>XRF027</key>
	<string>194.116.29.78</string>
	<key>XRF028</key>
	<string>193.190.240.228</string>
	<key>XRF031</key>
	<string>83.241.141.245</string>
	<key>XRF033</key>
	<string>46.226.178.81</string>
	<key>XRF038</key>
	<string>66.6.171.228</string>
	<key>XRF041</key>
	<string>167.88.37.80</string>
	<key>XRF044</key>
	<string>82.1.185.173</string>
	<key>XRF045</key>
	<string>045.xreflector.org</string>
	<key>XRF048</key>
	<string>xrf048.n5uxt.net</string>
	<key>XRF050</key>
	<string>050.xreflector.org</string>
	<key>XRF055</key>
	<string>95.110.229.195</string>
	<key>XRF063</key>
	<string>162.248.141.148</string>
	<key>XRF067</key>
	<string>xrf067.f5kav.org</string>
	<key>XRF069</key>
	<string>37.187.176.70</string>
	<key>XRF070</key>
	<string>182.161.156.13</string>
	<key>XRF073</key>
	<string>147.102.7.34</string>
	<key>XRF077</key>
	<string>xrf077.duckdns.org</string>
	<key>XRF078</key>
	<string>217.112.102.132</string>
	<key>XRF084</key>
	<string>xrf084.fabbroni.eu</string>
	<key>XRF090</key>
	<string>46.37.185.184</string>
	<key>XRF099</key>
	<string>76.71.89.114</string>
	<key>XRF112</key>
	<string>92.222.47.175</string>
	<key>XRF119</key>
	<string>149.154.158.170</string>
	<key>XRF123</key>
	<string>213.126.90.100</string>
	<key>XRF133</key>
	<string>xrf133.gb7de.co.uk</string>
	<key>XRF168</key>
	<string>xrf168.duckdns.org</string>
	<key>XRF210</key>
	<string>210.xreflector.org</string>
	<key>XRF228</key>
	<string>xrf228.duckdns.org</string>
	<key>XRF230</key>
	<string>xrf230.dstar.su</string>
	<key>XRF250</key>
	<string>xrf250.dstar.su</string>
	<key>XRF299</key>
	<string>xrf299.dstar.su</string>
	<key>XRF307</key>
	<string>104.167.106.95</string>
	<key>XRF310</key>
	<string>server1.xrefl.net</string>
	<key>XRF333</key>
	<string>xrf333.f1smf.com</string>
	<key>XRF353</key>
	<string>94.173.206.53</string>
	<key>XRF400</key>
	<string>xrf400.no-ip.org</string>
	<key>XRF420</key>
	<string>kc9qen.com</string>
	<key>XRF444</key>
	<string>70.125.157.44</string>
	<key>XRF450</key>
	<string>450.xreflector.org</string>
	<key>XRF500</key>
	<string>xrf500.org</string>
	<key>XRF555</key>
	<string>54.191.67.121</string>
	<key>XRF559</key>
	<string>98.239.113.175</string>
	<key>XRF580</key>
	<string>67.20.31.79</string>
	<key>XRF600</key>
	<string>88.96.217.121</string>
	<key>XRF603</key>
	<string>74.104.179.159</string>
	<key>XRF666</key>
	<string>vpngrf.webandcloud.net</string>
	<key>XRF669</key>
	<string>xrf669.no-ip.org</string>
	<key>XRF707</key>
	<string>xrf707.openquad.net</string>
	<key>XRF720</key>
	<string>204.45.107.21</string>
	<key>XRF727</key>
	<string>108.33.72.83</string>
	<key>XRF740</key>
	<string>imagewell.duckdns.org</string>
	<key>XRF748</key>
	<string>104.167.104.58</string>
	<key>XRF757</key>
	<string>xrf757.openquad.net</string>
	<key>XRF777</key>
	<string>62.167.15.53</string>
	<key>XRF780</key>
	<string>96.53.97.22</string>
	<key>XRF851</key>
	<string>xrf851.rsdt.de</string>
	<key>XRF858</key>
	<string>198.57.255.30</string>
	<key>XRF870</key>
	<string>103.18.207.114</string>
	<key>XRF888</key>
	<string>5.135.147.180</string>
	<key>XRF901</key>
	<string>xrf901.dyndns.org</string>
	<key>XRF902</key>
	<string>xrf902.dyndns.org</string>
	<key>XRF905</key>
	<string>199.212.121.20</string>
	<key>XRF906</key>
	<string>xrf906.radioclubveleta.es</string>
	<key>XRF911</key>
	<string>xrf911.ns0.it</string>
	<key>XRF929</key>
	<string>xrf929.ddns.net</string>
	<key>XRF978</key>
	<string>74.104.179.159</string>
	<key>XRF987</key>
	<string>xrf987.metro-uhf.org</string>
	<key>XRF988</key>
	<string>46.105.27.191</string>
	<key>XRF989</key>
	<string>104.167.119.5</string>
	<key>XRFWDX</key>
	<string>xrfwdx.ham-radio-op.net</string>
	<key>XRF088</key>
	<string>igate.nh6z.net</string>
</dict>
</plist>
